#noteButton {
  position: fixed;
  border-radius: 100%;
  bottom: 5%;
  right: 2%;
  font-size: 1.5rem;
  width: 100px;
  height: 100px;
  background-color: var(--danger);
  color: var(--light);
  font-weight: bolder;
  outline: none;
  border: none;
  cursor: pointer;
}
#noteButton:hover {
  color: var(--warning);
}

#noteSection {
  overflow-y: scroll;
  position: fixed;
  width: 500px;
  height: 500px;
  background-color: var(--warning);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#noteButtonHolder {
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#noteButtonHolder button {
  width: 40px;
  height: 80%;
  margin-left: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
}

#removeNoteSection {
  margin-right: 5px;
}

#removeNoteSection:hover {
  background-color: var(--danger);
}

#addNoteButton:hover {
  background-color: var(--success);
}

#removeAllNotes {
  color: var(--danger);
}

#noteHolder {
  margin-top: 55px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#noteHolder::-webkit-scrollbar {
  display: none;
}

.noteDiv {
  display: flex;
  width: 100%;
  min-height: 80px;
  max-height: 80px;
  position: relative;
  margin-bottom: 10px;
}

.note {
  display: block;
  width: 90%;
  min-height: 80px;
  max-height: 80px;
  background-color: var(--light);
  font-size: 1.3rem;
  padding-top: 10px;
  border: 2px solid var(--dark);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.note::-webkit-scrollbar {
  display: none;
}

.delNote {
  position: absolute;
  color: var(--dark);
  background-color: transparent;
  top: 5%;
  right: 1%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  outline: none;
  border: none;
}

.delNote:hover {
  background-color: var(--danger);
}

.hideNoteDiv {
  display: none;
}
