@keyframes headingBubble{
    0%{
        clip-path: circle(0px at 50% -100%);
        -webkit-clip-path: circle(0px at 50% -100%);
    }
    40%{
        clip-path: circle(500px at 50% -100%);
        -webkit-clip-path: circle(500px at 50% -100%);
    }
    
    75%{
        clip-path: circle(450px at 50% -100%);
        -webkit-clip-path: circle(450px at 50% -100%);
    }
    100%{
        clip-path: circle(500px at 50% -100%);
        -webkit-clip-path: circle(500px at 50% -100%);
    }

}