@import "basicAnimations.css";
@import "teleporter.css";
@import "/css/navbar.css";
@import "/css/tabSection.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
  --basicMarginBottom: 45px;
}

body{
  counter-reset: headingCounter;
  color: rgb(46, 38, 38);
  font-size: 1.5rem;
}

.container {
  margin-top: 70px;
  width: 100%;
}
.content {
  position: relative;
  width: 80%;
  margin-top: 100px;
  left: 20%;
  padding-left: 100px;
  font-family: 'Roboto', sans-serif;
}
.heading {
  margin-left: 10%;
  font-size: 40px;
  font-weight: bolder;
  color: var(--light);
  background-color: var(--primary);
  height: 40vh;
  text-align: center;
  line-height: 7rem;
  clip-path: circle(500px at 50% -100%);
  -webkit-clip-path: circle(500px at 50% -100%);
}
.heading::selection {
  background-color: var(--dark);
}

h1,img{
  margin-bottom: var(--basicMarginBottom);
}

.section{
  line-height: 45px;
  margin-bottom: 70px;
  counter-reset: subHeadingCounter;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--dark);
}

.section h2{
  color: var(--danger);
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: var(--basicMarginBottom);
}
.section h2::before{
  counter-increment: headingCounter;
  content: counter(headingCounter)". ";
  background-color: var(--dark);
  border-radius: 100%;
  padding: 10px;
  margin-right: 20px;
}
.section h3{
  color: var(--warning);
  width: 70%;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: var(--basicMarginBottom);
}
.section h3::before{
  counter-increment: subHeadingCounter;
  content: counter(subHeadingCounter)". ";
  background-color: var(--secondary);
  border-radius: 100%;
  padding: 10px;
  margin-right: 20px;
}

.section>.code , .code-right-img{
  font-size: 1.5rem;
  padding: 30px;
  width: 70%;
  color: white;
  background-color: black;
  margin-bottom: var(--basicMarginBottom);
  border-radius: 7px;
  line-height: 3.8rem;
  overflow-x: scroll;
  font-family: Consolas, 'Courier New', monospace;
  font-weight: bold;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.section>.code::-webkit-scrollbar {
  display: none;
}
.comment{
  color: var(--secondary);
}

.table , .table th , .table td{
  border: 1px solid white;
  border-collapse: collapse;
}
.table th , .table td{
  padding: 15px;
  text-align: left;
}
.table {
  width: 75%;    
  background-color: black;
  color: var(--light);
  margin-bottom: var(--basicMarginBottom);
  letter-spacing: 2px;
}

.img_and_content{
  display: flex;
}
.code-right-img>div>div{
  display: inline;
}
.img_and_content svg{
  color: var(--warning);
}

.code a{
  color: var(--primary);
  text-decoration: none;
}
.code a:hover{
  color: var(--secondary);
}

@media (max-width: 500px) {
  .heading {
    font-size: xx-large;
    margin-left: 0%;
  }
  .content{
      left: 0%;
      padding-left: 5%;
  }
  .section>.code{
    width: 100%;
  }
  .section h2::before,
  .section h3::before{
    padding: 5px;
  }
  .section h2,
  .section h3{
    text-align: center;
  }
  #teleporter {
    display: none;
  }
  img{
    max-width: 100vw !important;
    background-size: cover;
  }
  .img_and_content{
    flex-direction: column;
  }

}
