@import "/css/card.css";
@import "/css/featurePost.css";
:root {
  --bubbleCircle: 455px;
  --bubbleCircleLocation: 100%;
}

.firstSection {
  display: flex;
  height: 100vh;
  align-items: center;
  overflow-y: hidden;
}
.heroImage {
  margin-top: 7%;
  margin-left: 7%;
  margin-bottom: 0;
  background-size: cover;
  height: 480px;
  width: 615px;
  background-color: transparent;
}
.tagline {
  font-size: xx-large;
  font-weight: bolder;
  width: 50%;
  background-color: var(--primary);
  height: 80%;
  color: var(--light);
  padding-top: 40vh;
  text-align: center;
  line-height: 2cm;
  clip-path: circle(var(--bubbleCircle) at var(--bubbleCircleLocation));
  -webkit-clip-path: circle(var(--bubbleCircle) at var(--bubbleCircleLocation));
}
.tagline::selection {
  background: var(--dark);
}

.startNavigation{
  text-align: center;
  margin: 0% auto;
  margin-top: 90px;
  padding: 90px;
  background-color: var(--primary);
  color: var(--dark);
  font-size: 2rem;
  width: 80%;
}

.OtherPosts {
  min-height: 100vh;
  display: flex;
}

@media (max-width: 1000px) {
  .firstSection {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  :root {
    --bubbleCircle: 160px;
    --bubbleCircleLocation: 50%;
  }
  .firstSection {
    height: 100%;
    flex-direction: column-reverse;
    overflow-x: hidden;
  }
  .startNavigation{
    font-size: 1rem;
    margin: 0%;
    padding: 0;
    width: 100%;
  }
  .tagline {
    padding-top: 10vh;
    height: 60vh;
    width: 100vw;
    outline: none;
    border: none;
  }
  .heroImage {
    transform: scale(0.7);
  }
  .OtherPosts{
      flex-direction: column;
  }
}

@keyframes setClipPath {
  from {
    clip-path: circle(0px at var(--bubbleCircleLocation));
    -webkit-clip-path: circle(0px at var(--bubbleCircleLocation));
  }
  to {
    clip-path: circle(var(--bubbleCircle) at var(--bubbleCircleLocation));
    -webkit-clip-path: circle(
      var(--bubbleCircle) at var(--bubbleCircleLocation)
    );
  }
}

@keyframes setBGforNav {
  from {
    background-color: transparent;
  }
  to {
    background-color: transparent;
  }
}