header nav{
  display: flex;
  height: 10vh;
  background-color: var(--dark);
  position: fixed;
  top: 0%;
  width: 100vw;
  z-index: 2;
}

header nav div{
  width: 50%;
}

.hamburger{
  display: none;
}

.logo{
  font-size: 2rem;
  font-weight: bolder;
  color: var(--primary);
  font-family: cursive;
  padding: 10px;
}

.navLists{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLists ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.navLists ul li a{
  font-size: 1rem;
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
}
.navLists ul li a:hover{
  color: var(--secondary);
}

@media (max-width:800px){
  .navLists{
      position: fixed;
      height: 100vh;
      width: 100vw;
      background-color: var(--dark);
      transform: translateX(100%);
      transition: all 1s ease-in;
      overflow-x: hidden;
      overflow-y: visible;
  }
  .navLists ul{
      flex-direction: column;
      height: 100%;
  }
  .showNavLists{
      transform: translateX(0%);
  }
  .hamburger{
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      z-index: 2;
      width: 20%;
  }
  .logo{
      width: 80%;
      z-index: 2;
  }
}