@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    --primary: rgb(13,110,253);
    --secondary: rgb(108,117,125);
    --success: rgb(40,167,69);
    --danger: rgb(220,53,69);
    --warning: rgb(255,193,7) ;
    --info: rgb(23,162,184);
    --light: rgb(248,249,250);
    --dark: rgb(52,58,64);

}

h1{
    color: var(--primary);
    margin-bottom: 50px;
    font-weight: bolder;
    text-align: center;
    /* font-size: 3rem; */
}

h2{
    color: var(--danger);
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

h3{
    color: var(--warning);
    margin-bottom: 30px;
    text-transform: uppercase;
}

video , img{
    margin-bottom: 30px;
}

.section{
    margin-bottom: 40px;
}


#teleporter-holder{
    height: 85vh;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
}

#teleporter{
    min-height: 100%;
    width: 300px;
}

#content{
    position: relative;
}

code{
    background-color: transparent !important;
}

pre,.normal{
    color: var(--light);
    background-color: black;
    font-weight: bolder;
    font-family: consolas !important ;
    font-size: 1.3rem;
    padding: 8px;
    border: 0px !important;
    border-radius: 8px !important;
    line-height: 2rem;
    margin-bottom: 30px !important;
    white-space: pre-wrap !important;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap !important;      /* Opera 4-6 */
    white-space: -o-pre-wrap !important;    /* Opera 7 */
    word-wrap: break-word !important;       /*Internet Explorer 5.5+*/
    tab-size: 4;
}  


.callout-info{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: var(--info);
}
.callout-warning{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: var(--warning);
}
.callout-danger{    
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: var(--danger);
}
   
pre>code>a
, .normal>a{
    color: var(--primary) !important;
    text-decoration: none;
}
pre>code>a:hover
,.normal>a:hover{
    color: var(--secondary) !important;
    text-decoration: none !important;
}

