/* 
    var(customName , default) # TO USE CUSTOM PROPERTY
    var(--primary , blue) 
    blue is given in case if primary color doesn't works
*/
@import "/css/basicStyle.css";
@import "/css/teleporter.css";
@import "/css/navbar.css";
@import "/css/tabSection.css";
@import "/css/copy.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


:root{
    --primary: rgb(13,110,253);
    --secondary: rgb(108,117,125);
    --success: rgb(40,167,69);
    --danger: rgb(220,53,69);
    --warning: rgb(255,193,7) ;
    --info: rgb(23,162,184);
    --light: rgb(248,249,250);
    --dark: rgb(52,58,64);

}
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    width: 100vw !important;
    overflow-x: hidden !important;
}

.text-primary{
    color: var(--primary);
}
.text-secondary{
    color: var(--secondary);
}
.text-success{
    color: var(--success);
}
.text-danger{
    color: var(--danger);
}
.text-dark{
    color: var(--dark);
}
.text-info{
    color: var(--info);
}
.text-light{
    color: var(--light);
}
.text-warning{
    color: var(--warning);
}


.bg-primary{
    background-color: var(--primary);
}
.bg-secondary{
    background-color: var(--secondary);
}
.bg-success{
    background-color: var(--success);
}
.bg-danger{
    background-color: var(--danger);
}
.bg-dark{
    background-color: var(--dark);
}
.bg-info{
    background-color: var(--info);
}
.bg-light{
    background-color: var(--light);
}
.bg-warning{
    background-color: var(--warning);
}

.text-upper{
    text-transform: uppercase;
}

.tab-pre{
    display: inline-block;
}
