.tabSection{
    width: 100%;
    height: 100px;
    position: relative;
}

.tabSection ul{
    display: flex;
    list-style: none;
    /* justify-content: space-evenly; */
}
.tabSection ul li{
    cursor: pointer;
    margin-right: 30px;
}

.tabSection ul li:hover{
    color: var(--secondary);
}

.tabHover{
    position: absolute;
    border-bottom: 3px solid white;
    transform: scale(1.5);
    transition: all 1s ease-in-out;
}