#teleporter {
  position: fixed;
  width: 20%;
  top: 12%;
  left: 0%;
  border-right: 3px solid var(--dark);
  color: var(--light);
  font-size: 1rem;
}
#teleporter h1 {
  color: var(--danger);
  font-size: 1.8rem;
}

#teleportingList {
  color: var(--dark);
  height: 75vh;
  overflow-y: auto;
  list-style: none;
  display: block;
}
#teleportingList li {
  margin: 20px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bolder;
  font-family: consolas;
}
#teleportingList li:hover {
  color: var(--info);
}

#hoverDiv {
  position: absolute;
  transition: all 0.5s ease-in;
  border-left: 3px solid var(--warning);
  margin-left: 10px;
  z-index: -1;
  transform: scale(1.5);
  pointer-events: none;
}
@media (max-width: 500px) {
  #teleporter {
    position: fixed;
    top:12%;
    left: 0%;
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;
    transition: all 1s ease-in;
    z-index: 3;
  }
  .shiftTeleporter{
    transform: translateY(1000%);
  }
  #teleportingList{
    color: var(--light);
  }
  #hoverDiv{
    display: none;
  }
  #showTeleporter{
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: var(--dark);
    color: var(--light);
    z-index: 1;
    height: 50px;
    width: 150px;
    border-radius: 10px;
  }
}
